@font-face {
  font-family: "Skim Hebrew";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/webfonts/frank-ruhl-400.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200F, U+FB1D-FB4F;
}

@font-face {
  font-family: "Skim Hebrew";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/webfonts/frank-ruhl-700.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200F, U+FB1D-FB4F;
}

@font-face {
  font-family: "Skim Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/webfonts/jetbrains-mono-700.woff2") format("woff2");
}
